{% extends 'base.html' %}
{%block title_block %}Update Product{% endblock %}
{% load widget_tweaks %}
{% block body_block %}


<h3 class="pb-5">Update Product</h3>

<form  method="POST"  enctype="multipart/form-data">
  {% csrf_token %}

 
<div class="inp">
  <label for="">Category:</label>
     {{form.category}}
</div>

  <div class="inp">
    <label for="">Subcategory:</label>
    {{form.subcategory}}
</div>

 <div class="inp" >
  <label for="">Title</label>
  {{form.title}}
</div>

<div style="width: 600px; padding-bottom: 14px;"  class="inpf" >
  <label for="">Description</label>
{{ form.description|add_class:"ckeditor" }}
</div>

<div  class="inp" >
  <label for="">Price</label>
 {{ form.price }}
</div>

<div  class="inp" >
  <label for="">Old Price</label>
 {{ form.old_price }}
</div>

<div class="inp" >
  <label for="">Stock</label>
 {{ form.stock }}
</div>

<div class="inp">
  <label for="">Image:</label>
{{ form.image }}
</div>

<div class="inp" >
  <label for="">Slug</label>
 {{ form.slug }}
</div>

<div class="inp" >
  
 {{ form.active }}
 <label for="">Active</label>
</div>

  <div >
      <input type="submit"  class="btn btn-sm btn-success " value="Update"/>
  </div>
</form>

{% endblock %}